@import '../../utilities/variables';

.main-login-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $fontColor;
    //background-color: $baseBgPlus;
}

.main-login {
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-login-title {
    padding: .5em;
    
    text-align: center;

    animation: .7s popSize 1;
}

.login-form {
    width: 33%;

    margin: 1.5em;

    display: flex;
    flex-direction: column;
    
    input[type=submit] {
        margin: 1em 0;
        padding: .5em;

        border: none;
        border-radius: 5px;

        font-size: 18px;

        color: $lightBaseColor;
        background-color: $baseColor;

        transition: background-color .3s;
    }
}

.login-password-wrapper {
    width: 100%;

    position: relative;

    display: flex;
    justify-content: right;
    align-items: right;

    input {
        width: 100%;
    }
}

.login-password-reveal {
    margin: 0.5em 0;
    padding: 0.5em 0;

    position: absolute;

    font-size: 13px;

    &:hover {
        color: $baseColor;
    }

    cursor: pointer;
    user-select: none;
}


// ---> MEDIA QUERIES

@media (max-width: $fullHd) {
}

@media (max-width: $laptopL) {
    .main-login {
        //width: 50%;
    }

}

@media (max-width: $laptop) {
}

@media (max-width: $tablet) {
    .main-login {
        //width: 60%;
    }

    .login-form {
        width: 80%;
    }
}

@media (max-width: $mobileL) {
    .main-login {
        //width: 75%;
    }

    .login-form {
        width: 90%;
    }
}

@media (max-width: $mobileM) {

}

@media (max-width: $mobileS) {
    .main-login {
        width: 100%;
    }
}
