@use "sass:color";

$baseColor: rgb(230, 92, 0);
$baseBg: rgb(253, 229, 210);
$baseBgPlus: color.adjust(
  $lightness: -10%,
  $color: $baseBg,
);
$baseBgPanel: color.adjust(
  $color: $baseBg,
  $lightness: -25%,
  $saturation: -2%,
);

$fontColor: color.adjust(
  $blackness: 60%,
  $color: $baseColor,
);
$fontLighter: color.adjust(
  $color: $baseColor,
  $blackness: 20%,
);
$fontGrayish: color.adjust(
  $saturation: -70%,
  $lightness: 30%,
  $color: $fontColor,
);

$lightBaseColor: color.adjust(
  $color: $baseColor,
  $lightness: 50%,
);

$alertColor: color.adjust(
  $color: $baseColor,
  $saturation: -30%,
  $lightness: 25%,
  $alpha: -0.3,
);

//Screen sizes
$fullHd: 1920px;
$laptopL: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileL: 425px;
$mobileM: 375px;
$mobileS: 320px;
