@import '../../utilities/variables';

@import '../../assets/global';



.home-main {
    width: 50%;

    margin: 0;
    padding: 75px;

    background-color: $baseBgPlus;
}

.home-start {
    margin: .5em 0;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $baseBg;

    border-radius: 5px;

    button {
        padding: .5em;

        border: none;
        border-radius: 5px;

        font-size: 20px;

        color: $lightBaseColor;
        background-color: $baseColor;

        transition-property: transform, background-color;
        transition-duration: .3s;

        &:hover {
            transform: scale(110%);
            background-color: adjust-color($color: $baseColor, $blackness: 10%);
        }
    }
}


// ---> MEDIA QUERIES

@media (max-width: $laptopL) {

}

@media (max-width: $laptop) {
    .home-main {
        padding: 40px;
    }
}

@media (max-width: $tablet) {
    .home-main {
        width: 66%;
    }
}

@media (max-width: $mobileL) {
    .home-main {
        width: auto;
    }
}

@media (max-width: $mobileM) {

}

@media (max-width: $mobileS) {
    
}
