@import '../../utilities/variables';

@import '../../assets/global';

.main-about-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $fontColor;
}

.main-about {
    width: 100%;

    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: $baseBgPlus;
}

.main-about-content {
    width: 75%;

    h2, h4 {
        animation: 0.4s comeUpLeft ease-out 1;
    }

    article {
        animation: 0.6s comeUpLeft ease-out 1;
    }
}


// ---> MEDIA QUERIES

@media (max-width: $laptopL) {

}

@media (max-width: $laptop) {
}

@media (max-width: $tablet) {
    .main-about {
        width: 60%;
    }
}

@media (max-width: $mobileL) {
    .main-about {
        width: 100%;

        padding: 1.5em;
    }
}

@media (max-width: $mobileM) {

}

@media (max-width: $mobileS) {

}