@import '../../utilities/variables';

@import '../../assets/global';

.main-about-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $fontColor;
}

.main-about {
    width: 50%;

    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: $baseBgPlus;
}


// ---> MEDIA QUERIES

@media (max-width: $laptopL) {

}

@media (max-width: $laptop) {
}

@media (max-width: $tablet) {
    .main-about {
        width: 60%;
    }
}

@media (max-width: $mobileL) {
    .main-about {
        width: 100%;

        padding: 1.5em;
    }
}

@media (max-width: $mobileM) {

}

@media (max-width: $mobileS) {

}