@use "sass:color";

@use "../../utilities/variables" as *;
@use "../../assets/global";

.main-notfound {
  text-align: center;
}

.main-notfound-button {
  margin: 0;
  padding: 0;

  border: none;

  & > a,
  a:visited {
    padding: 0.5em;

    border: none;
    border-radius: 5px;

    font-size: 20px;

    color: $lightBaseColor;
    background-color: $baseColor;
  }

  transition-property: transform, background-color;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(110%);
    background-color: color.adjust($color: $baseColor, $blackness: 10%);
  }
}
