$baseColor: rgb(230, 92, 0);
$baseBg: rgb(253, 229, 210);
$fontColor: adjust-color($blackness: 60%, $color: $baseColor);

body, html {
    margin: 0;

    font-family: "Fira Sans", sans-serif;

    background-color: $baseBg;
}

a, a:visited {
    text-decoration: none;

    color: adjust-color($color: $baseColor, $lightness: 50%);
}

button {
    cursor: pointer;
}