@import 'utilities/variables';

body, html {
    margin: 0;

    font-family: "Fira Sans", sans-serif;
    
    color: $fontColor;
    background-color: $baseBg;
}

a, a:visited {
    text-decoration: none;

    color: adjust-color($color: $baseColor, $lightness: 50%);
}

button {
    cursor: pointer;
}


.navbar {
    width: inherit;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    text-align: center;

    font-size: 20px;

    color: adjust-color($color: $baseColor, $lightness: 50%);
    background-color: $baseColor;

    z-index: 3;

    div, a:not(.navbar-logo) {
        padding: 15px;

        transition: background-color .3s;

        cursor: pointer;

        &:hover {
            background-color: adjust-color($color: $baseColor, $blackness: 10%);
        }
    }
}

.navbar-logo {
    padding: 15px;

    position: absolute;
    left: 0;

    text-align: left;

    font: {
        weight: bold;
        size: 48px;
    }

    cursor: pointer;
}