@import '../../utilities/variables';

@import '../../assets/global';

.lessons-wrapper {
    width: 100%;
    padding: 1.5em 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    //background-color: $baseBgPlus;
}

.lessons-lesson {
    width: 50%;

    margin: 1em 0;
    padding: 1em;

    border-radius: 15px;

    font-size: 14px;

    background-color: $baseBgPanel;

    cursor: pointer;
}



// ---> MEDIA QUERIES

@media (max-width: $laptopL) {

}

@media (max-width: $laptop) {
}

@media (max-width: $tablet) {
    .lessons-wrapper {
        width: 75%;
    }
}

@media (max-width: $mobileL) {
    .lessons-wrapper {
        width: auto;
    }
}

@media (max-width: $mobileM) {

}

@media (max-width: $mobileS) {

}
