@import '../../utilities/variables';

@import '../../assets/global';

.lessons-wrapper {
    width: 50%;
    padding: 1.5em;

    background-color: $baseBgPlus;
}

.lessons-title {
    font: {
        size: 32px;
        weight: bold;
    }
}

.lessons-lesson {
    margin: 1em 0;
    padding: 1em;

    border-radius: 15px;

    font-size: 20px;

    background-color: $baseBgPanel;
}

.lessons-lesson-title {
    padding: .3em 0;

    font: {
        size: 28px;
        weight: bold;
    }
}
