@import '../../utilities/variables';

@import '../../assets/global';


.main-register-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $fontColor;
    //background-color: $baseBgPlus;
}

.main-register {
    width: 100%;

    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-register-title {
    text-align: center;

    animation: .7s popSize 1;
}

.register-form {
    width: 33%;

    margin: 1.5em;

    display: flex;
    flex-direction: column;

    input[type=submit] {
        margin: 1em 0;
        padding: .5em;

        border: none;
        border-radius: 5px;

        font-size: 18px;

        color: $lightBaseColor;
        background-color: $baseColor;

        transition: background-color .3s;

        &:hover {
            background-color: adjust-color($color: $baseColor, $blackness: 10%);
        }
    }
}

.register-password-wrapper {
    width: 100%;

    position: relative;

    display: flex;
    justify-content: right;
    align-items: right;

    input {
        width: 100%;
    }
}

.register-password-reveal {
    margin: 0.5em 0;
    padding: 0.5em 0;

    position: absolute;

    font-size: 13px;

    &:hover {
        color: $baseColor;
    }

    cursor: pointer;
    user-select: none;
}


// ---> MEDIA QUERIES

@media (max-width: $laptopL) {
    .main-register {
        //width: 100%;
    }

}

@media (max-width: $laptop) {
}

@media (max-width: $tablet) {
    .main-register {
        //width: 60%;
    }

    .register-form {
        width: 50%;
    }
}

@media (max-width: $mobileL) {
    .main-register {
        width: 75%;
    }

    .register-form {
        width: 90%;
    }
}

@media (max-width: $mobileM) {

}

@media (max-width: $mobileS) {
    .main-register {
        width: 100%;
    }
}
