@import '../../utilities/variables';

@import '../../assets/global';


.main-register-wrapper {
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $fontColor;
}

.main-register {
    width: 33%;

    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: $baseBgPlus;
}

.main-register-title {
    text-align: center;

    animation: .7s popSize 1;
}

.register-form {
    width: 66%;

    margin: 1.5em;

    display: flex;
    flex-direction: column;
    
    input:not(input[type=submit]) {
        margin: .5em 0;
        padding: .5em 0;

        border: none;
        border-bottom: 2px solid $fontColor;

        outline: none;

        background-color: transparent;

        &::placeholder {
            color: $fontGrayish;
        }

        &:focus::placeholder {
            color: adjust-color($color: $fontGrayish, $lightness: -5%, $saturation: 10%)
        }

        &:focus {
            border-bottom: 2px solid $baseColor;
            transition: border-bottom .2s;
        }
    }

    input[type=submit] {
        margin: 1em 0;
        padding: .5em;

        border: none;
        border-radius: 5px;

        font-size: 18px;

        color: $lightBaseColor;
        background-color: $baseColor;

        transition: background-color .3s;

        &:hover {
            background-color: adjust-color($color: $baseColor, $blackness: 10%);
        }
    }
}


// ---> MEDIA QUERIES

@media (max-width: $laptopL) {
    .main-register {
        width: 50%;
    }

}

@media (max-width: $laptop) {

}

@media (max-width: $tablet) {
    .main-register {
        width: 60%;
    }

    .register-form {
        width: 90%;
    }
}

@media (max-width: $mobileL) {
    .main-register {
        width: 75%;
    }

    .register-form {
        width: 90%;
    }
}

@media (max-width: $mobileM) {

}

@media (max-width: $mobileS) {
    .main-register {
        width: 100%;
    }
}
